CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# enable LWIP IPv6 autoconfig
CONFIG_LWIP_IPV6_AUTOCONFIG=y

# Use a custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0xC000

# Enable chip shell (useful for debug/commissioning)
CONFIG_ENABLE_CHIP_SHELL=y

CONFIG_ENABLE_WIFI_AP=n

# enable lwIP route hooks
CONFIG_LWIP_HOOK_IP6_ROUTE_DEFAULT=y
CONFIG_LWIP_HOOK_ND6_GET_GW_DEFAULT=y

# disable softap
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

# Disable OTA Requestor (save flash memory)
CONFIG_ENABLE_OTA_REQUESTOR=n

# Disable minimal mDNS to use ESP-IDF native mDNS for reliable IPv6 operational mDNS
CONFIG_USE_MINIMAL_MDNS=n

# Enable HKDF in mbedtls
CONFIG_MBEDTLS_HKDF_C=y

# Increase LwIP IPv6 address number to 6 (MAX_FABRIC + 1)
CONFIG_LWIP_IPV6_NUM_ADDRESSES=6

# Power Management (Eco / Power Saving Mode)
CONFIG_PM_ENABLE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y

